image: golang:1.19.3-bullseye

stages:
  - test
  - build
  - deploy

test:
  stage: test
  tags:
    - docker
  script:
    - go fmt $(go list ./... | grep -v /vendor/)
    - go vet $(go list ./... | grep -v /vendor/)
    - go test -race $(go list ./... | grep -v /vendor/)


compile:
  stage: build
  tags:
    - docker
  only: 
    - production
  script:
    - cd /builds/arc/api
    - export GIN_MODE=release
    - go build -o api .
    - cp api ../..
  artifacts:
    paths:
    - api
    expire_in: 1 week

deploy:
  stage: deploy
  tags:
    - server
  script:
    - cp -f api /opt/api/build
    - cd /opt/api
    - docker-compose down
    - docker-compose build
    - docker-compose up -d
    - docker-compose logs
  only:
    - production